*{
	margin: 0;
	width: 100%;
	height: 800px;
}
.paisaje{
	width: 1000px;
	height: 1000px;
	margin: 0;
	padding: 20px;
	position: absolute;

}
#sol{
	width: 50px;
	height: 50px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position:relative;
	top:30px;
	left: 30px;
}
.paisaje #base{
	width: 400px;
	height: 200px;
	background-color: brown;
	position: absolute;
	top:352px;
	right: -51px;
}
#base .puerta{
	width: 140px;
	height:120px;
	background-color: gray;
	position: relative;
	top: 70px;
	left: 20px;
}
#base .ventana{
   width: 50px; 
   height:50px; 
   background: pink; 
   position: absolute;
   top: 50px;
   left: 300px;
}
.puerta .heart{
	position: relative;
}
.heart:before, .heart:after {
   position: absolute;
   content: "";
   left: 70px; top: 0;
   width: 70px;
   height: 115px;
   background: red;
   -moz-border-radius: 50px 50px 0 0;
   border-radius: 50px 50px 0 0;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
}
.heart:after { 
left: 0; 
   -webkit-transform: rotate(45deg); 
   -moz-transform: rotate(45deg); 
   -ms-transform: rotate(45deg); 
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
   -webkit-transform-origin: 100% 100%;
   -moz-transform-origin: 100% 100%;
   -ms-transform-origin: 100% 100%;
   -o-transform-origin: 100% 100%;
   transform-origin :100% 100%;
}
#techo{
    width: 300px;
    height: 2px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 100px solid black;
    position: relative;
    left: 658px;
    top:184px;
}
#chimenea{
   width: 20px;
   height: 40px;
   background: red;
   position: relative;
   left: 230px;
   top: -13px;
}
#burbuja1{
	border-radius:71%;
	width: 44px;
	height: 43px;
	background: grey;
	position: relative;
	left: 246px;
	top:-151px;
}
#burbuja{
	border-radius:71%;
	width: 44px;
	height: 43px;
	background: grey;
	position: relative;
	left: 246px;
	top:-151px;

}
.pasto{
   width: 1300px;
   height: 140px;
   background: green;
   position: relative;
   bottom: -371px;
}
}


/* Cleaner, but slightly less support: ue "50%" as value */
					

#rectangle {
	width: 200px;
	height: 100px;
	background: red;
}

			